{% extends "base.html" %}

{% block body %}
    <h2>Hvem er du?</h2>
    <br/>
        
    <form method="post" id="form" class="form-horizontal" role="form">
        {% csrf_token %}

        
        <div class="form-group">
    <label class="col-sm-3 control-label">Kode:</label>
    <div class="col-sm-2">
      <p class="form-control-static">{{code}}</p>
    </div>
  </div>


        <input type="hidden" name="code" value="{{ code }}" id="name">
        <div class="form-group">
             <label for="name" class="col-sm-3 control-label">Navn:</label>
             <div class="col-sm-5">
                <input type="text" name="name" id="nameID" class="form-control" onkeyup="update();">
            </div>
        </div>

        <div class="form-group">
             <label for="birthday" class="col-sm-3 control-label">Fødselsdag:</label>
             <div class="col-sm-3">
                
                <select  name="day" id="dayID" class="form-control" onchange="update();">
                    <option value="pick">Dag</option>
                </select>
            </div>

            <div class="col-sm-3">
                <select name="month" id="monthID" class="form-control" onchange="update();">
                    <option value="pick">Måned</option>
                </select>
            </div>

            <div class="col-sm-3">
                <select name="year" id="yearID" class="form-control" onchange="update();">
                    <option value="pick">År</option>
                </select>

            </div>
        </div>

       

        <div class="form-group">
        
           <label for="sex" class="col-sm-3 control-label">Køn:</label>
           <div class="col-sm-5">
             <label class="radio-inline">
                <input type="radio" name="sex" value="M" onchange="update();"> Mand
            </label>
            <label class="radio-inline">
                <input type="radio" name="sex" value="F"  onchange="update();"> Kvinde
            </label>

            </div>

        </div>

        <INPUT type="submit" value="Bekræft" id="submitID"  class="btn btn-primary" disabled> 
    </form>

{% endblock %}


{% block javascript%}

    //Populate year with 100 possibilities
    for(var i = 2013; i > 1913;i--)
    {
        $("#yearID").append('<option value="'+i+'" onkeyup="update();">'+i+'</option>');
    }

    for(var i = 1; i <= 12;i++)
    {
        $("#monthID").append('<option value="'+i+'" onkeyup="update();">'+i+'</option>');
    }

    for(var i = 1; i <= 31;i++)
    {
        $("#dayID").append('<option value="'+i+'" onkeyup="update();">'+i+'</option>');
    }


    function update()
    {
        var name = $("#nameID").val();
        var year = $("#yearID").val();
        var month = $("#monthID").val();
        var day = $("#dayID").val();
        var sex = $('input[name=sex]:checked', '#form').val();
        
        

        if(day == "pick" || month == "pick" || year == "pick" || name.length == 0 || sex == undefined)
        {
            $('#submitID').attr('disabled', 'disabled');
        }
        else
        {
            $('#submitID').removeAttr('disabled');
        }


        
    }
    update();
    

{% endblock %}