{% extends "base.html" %}

{% block body %}
    <h1>Indtast basisinformation</h1>
        
    Kode: <strong>{{ code }}</strong><br>
    <form method="post" id="myform">
        {% csrf_token %}
        <input type="hidden" name="code" value="{{ code }}" id="name">
        Navn: <input type="text" name="name" id="nameID" onkeyup="update();"><br>
        Født: <br>
        <select name="day" id="dayID" onchange="update();">
            <option value="pick">Vælg dag</option>
        </select><br>
        <select name="month" id="monthID" onchange="update();">
            <option value="pick">Vælg måned</option>
        </select><br>
        <select name="year" id="yearID" onchange="update();">
            <option value="pick">Vælg år</option>
        </select><br>
        
        Køn: <input type="radio" name="sex" value="M" onchange="update();">Mand &nbsp;
             <input type="radio" name="sex" value="F" onchange="update();">Kvinde</br>
        
        <INPUT type="submit" value="Bekræft" id="submitID" disabled> 
    </form>

{% endblock %}


{% block javascript%}

    //Populate year with 100 possibilities
    for(var i = 2013; i > 1913;i--)
    {
        $("#yearID").append('<option value="'+i+'" onkeyup="update();">'+i+'</option>');
    }

    for(var i = 1; i <= 12;i++)
    {
        $("#monthID").append('<option value="'+i+'" onkeyup="update();">'+i+'</option>');
    }

    for(var i = 1; i <= 31;i++)
    {
        $("#dayID").append('<option value="'+i+'" onkeyup="update();">'+i+'</option>');
    }


    function update()
    {
        var name = $("#nameID").val();
        var year = $("#yearID").val();
        var month = $("#monthID").val();
        var day = $("#dayID").val();
        var sex = $('input[name=sex]:checked', '#myform').val();
        
        

        if(day == "pick" || month == "pick" || year == "pick" || name.length == 0 || sex == undefined)
        {
            $('#submitID').attr('disabled', 'disabled');
        }
        else
        {
            $('#submitID').removeAttr('disabled');
        }


        
    }
    update();
    

{% endblock %}