{% extends "base.html" %}

{% block body %}
    <h2>Hvem er du?</h2>
    <br/>
        
    <form method="post" id="form" class="form-horizontal" role="form">
        {% csrf_token %}

        
    <input type="hidden" name="code" value="{{code}}"/>
        <div class="form-group">
    <label class="col-sm-3 control-label">Kode:</label>
    <div class="col-sm-2">
      <p class="form-control-static">{{code}}</p>
    </div>
  </div>


  <input type="hidden" name="name" value="{{name}}"/>
  <div class="form-group">
    <label class="col-sm-3 control-label">Navn:</label>
    <div class="col-sm-2">
      <p class="form-control-static">{{name}}</p>
    </div>
  </div>


        <div class="form-group">
             <label for="age" class="col-sm-3 control-label">Din alder:</label>
             <div class="col-sm-5">
                <input type="number" name="age" id="nameID" class="form-control" onkeyup="update();" min="16" max="120" value="">

            </div>
        </div>

       
<!--
        <div class="form-group">
        
           <label for="sex" class="col-sm-3 control-label">Køn:</label>
           <div class="col-sm-5">
             <label class="radio-inline">
                <input type="radio" name="sex" value="M" onchange="update();"> Mand
            </label>
            <label class="radio-inline">
                <input type="radio" name="sex" value="K"  onchange="update();"> Kvinde
            </label>

            </div>

        </div>
    !-->

        <INPUT type="submit" value="Videre" id="submitID"  class="btn btn-primary" > 
    </form>

{% endblock %}


{% block javascript%}

   


    function update()
    {
        /*if(age)
        {
            $('#submitID').attr('disabled', 'disabled');
        }
        else
        {
            $('#submitID').removeAttr('disabled');
        }*/
    }
    //update();
    

    idleTime = 0;
    $(document).ready(function () 
    {
        //Increment the idle time counter every minute.
        var idleInterval = setInterval(timerIncrement, 1000); 

        //Zero the idle timer on mouse movement.
        $(this).mousemove(function (e) {
            idleTime = 0;
        });
        $(this).keypress(function (e) {
            idleTime = 0;
        });
    });
    function timerIncrement() 
    {
        idleTime = idleTime + 1;
        if (idleTime > {{ USER_TIMEOUT_SECONDS }}) 
        {
            window.location = "/logout/";
        }
    }

{% endblock %}