{% extends "base.html" %}

{% block body %}
<p>
    Hvor vil du hen?
</p>





    <form method="post">
    {% csrf_token %}
    
    <center>
        {% for a in choice %}
        <div class="row col-md-10 col-md-offset-1">
             <INPUT class= "btn btn-primary btn-lg btn-block " style="margin-top:20px; " type="submit" value="{{ a.name }}" name="location"/> 
           </div>

        {% endfor %}

         
    </center>

    </form>
<div class="clearfix"></div>
{% endblock %}



{% block javascript %}

{% endblock %}



