{% extends "base.html" %}

{% block body %}
<p>
    Du er henvist til <strong>{{ location.name }}</strong></p>
    <p>{{location.directions}}</p>


   
<br/>

    
    {% if age > 5%}
    <p>
    Hvs du har besøgt lokationen og er færdig tryk videre.<br>
    </p>
    

    

    <form method="post">

        {% csrf_token %}
            
        <INPUT type="submit" value="Videre" name="done" class= "btn btn-primary btn-lg btn-block"> 
        


    </form>
    {% endif %}

<br/>
<p><strong>Udvikler info:</strong>
    Score: {{ score }}, priority: 
    {{ location.priority }}, age: {{ age }}
    </p>
{% endblock %}


{% block javascript %}

{% endblock %}



