{% extends "base.html" %}
{% load show_extras %}
{% block body %}

    <table border="1">
        <tr>
            <td>
                Navn
            </td>
            <td>
                Alder
            </td>
            <td>
                Køn
            </td>
            <td>
                Instruktion
            </td>
        </tr>
    {% for p in profiles %}
        <tr>
            <td>
                {{ p.name }}
            </td>
            <td>
                {{ p.birth|timesince }}
            </td>
            <td>
                {{ p|gender }}
            </td>
            <td>
                {% if p.location %}
                    Gå til {{ p.location.name }}
                {% else %}
                    Log ind og besvar spørgeskemaet
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    <table>


{% endblock %}


{% block javascript %}
    var intervalID = setInterval(function(){window.location.reload();}, {{ AJAX_REFRESH_INTERVAL }});
{% endblock %}



