{% extends "base.html" %}
{% load show_extras %}

{% block header %}
{% endblock %}

{% block body %}

    <table class="table-striped" style="margin:0; padding:0;" cellspacing="0" cellpadding="0" border="0">
        <thead>
        <tr>
            <th style="width:300px; padding-left:20px;">
                NAVN <small>(PÅ NAVNESKILTET)</small>
            </th>

            <th style="width:300px;">
                INSTRUKTION
            </th>
            </tr>
        </thead>
    {% for p in profiles %}
        <tr style=" border-bottom:2px solid #888888; margin:0; padding:0; height:10px;">
            <td style=" margin-top:0px; margin-bottom:0px;  height:10px; padding-left:20px;">
                <small style="font-size:10px; margin:0; padding:0; font-weight:500;" >{{ p.name|upper }}</small>
            </td>
           
            <td style=" margin-top:0px; margin-bottom:0px;  height:10px;">
            <small style=" font-size:10px; margin:0; padding:0;  font-weight:500;">
                {% if p.location %}
                    GÅ TIL {{ p.location.name|upper }}
                {% else %}
                    VENT VENLIGST
                {% endif %}
                </small>
            </td>
        </tr>
    {% endfor %}
    </table>


{% endblock %}

{% block footer %}
{% endblock %}

{% block javascript %}
    var intervalID = setInterval(function(){window.location.reload();}, {{ AJAX_REFRESH_INTERVAL }});
{% endblock %}

{% block colorJS %}
{% endblock %}

