{% extends "base.html" %}
{% load show_extras %}
{% block body %}
    
    <h2>{{ location.name }}</h2>

    <h4>Kapacitet: {{ location.profiles.count }} /  {{ location.capacity }}</h4>

    <h4>Status: {{ location|statestr }}</h4>

    <h3>Deltagere i rummet:</h4>

    <table class="table table-bordered table-striped table-hover">
            <thead>
            <tr>
                <th>
                    Navn
                </th>
                <th>
                    Køn
                </th>
                <th>
                    Alder
                </th>
                <th>
                    Kode
                </th>
                <th>
                    Noter/Låst
                </th>
                {% if location.scale %} 
                    <th>
                        Skala: {{ location.scale }}
                    </th>
                {% endif%}

            </tr>
            </thead>
            {% for p in location.profiles.all %}
                {% if p.active %}
                    <tr>
                        <td>                    
                            <a href="/profile/{{p.id}}/">{{p.name}}</a>
                        <td>
                            {{ p|gender }}
                        </td>
                        <td>
                            {{p.birth|timesince}}
                        </td>
                        <td>
                            {{ p.user.username }}
                        </td>
                        <td>
                            {% if p.locked %}
                                Låst
                            {% else %}

                            {% endif %}
                        </td>
                        {% if location.scale %} 
                        <td>
                            <form method="post" id="form" class="form-horizontal" role="form">
                                {% csrf_token %}
                                <input type="hidden" name="profile" value="{{ p.id }}">
                                <input type="hidden" name="location" value="{{ location.id }}">

                                <INPUT type="submit" value="-" name="action"  class="btn btn-danger"> 
                                {{ p|scaleval:location.scale }}
                                <INPUT type="submit" value="+" name="action"  class="btn btn-success"> 
                            </form>
                        </td>
                    {% endif%}
                    </tr>
                {% endif %}
            {% endfor %}
        </table>


<a href="/">Tilbage</a>

{% endblock %}


{% block javascript %}

{% endblock %}



