{% extends "base.html" %}
{% load show_extras %}
{% block body %}
    
    <h2>{{ location.name }}</h2>

    <h4>Kapacitet: {{ location.profiles.count }} /  {{ location.capacity }}</h4>

    <h4>Status: {{ location|statestr }}</h4>

    {% if location.state == 1 %}
        <p>
        Venter på deltagere.
        {% if location.profiles.count > 0 %}
            <form method="post" id="form" class="form-horizontal" role="form">
                {% csrf_token %}
                <input type="hidden" name="location" value="{{ location.id }}">
                <button name="action" value="firstParticipant" class="btn btn-primary btn-sm">Første deltager ankommer</button>
                 <p>(Starter timer. Efter 4 min. bliver der ikke sendt flere)</p>
            </form>
            {%endif%}
        </p>

    {% endif %}

    {% if location.state == 2 %}
            <form method="post" id="form" class="form-horizontal" role="form">
                {% csrf_token %}
                <input type="hidden" name="location" value="{{ location.id }}">
                <button name="action" value="start" class="btn btn-primary">Begynd scene</button>
                 <p>(Efter 4 min. bliver der ikke sendt flere, men du kan starte når du vil)</p>
            </form>
            Tid siden første deltager ankom:
            <strong><p id="timeSinceFirstParticipant">
            00:00
            </p> </strong>
    {% endif %}

    {% if location.state == 3 %}
            <form method="post" id="form" class="form-horizontal" role="form">
                {% csrf_token %}
                <input type="hidden" name="location" value="{{ location.id }}">
                <button name="action" value="evaluate" class="btn btn-primary">Send deltagerne væk og evaluer</button>
                 <p>(Tryk her inden deltagerne når hen til en computer. f.eks. når de bliver bedt om at gå)</p>
                Tid siden scenen startede:
                <strong><p id="timeSinceFirstParticipant" >
                00:00

                </p> </strong>
            </form>

        {% endif %}

         {% if location.state == 4 %}
           <form method="post" id="form" class="form-horizontal" role="form">
                {% csrf_token %}
                <input type="hidden" name="location" value="{{ location.id }}">
                <button name="action" value="close" class="btn btn-primary">Send evaluering</button> 
                <p>(De seneste deltagere kan ikke blive sendt til en ny lokation før du trykker send. Får spørgsmål til du er færdig.)</p>
            </form>

        {% endif %}


        {% if location.state == 0 %}
        <p>
           <form method="post" id="form" class="form-horizontal" role="form">
                {% csrf_token %}
                <input type="hidden" name="location" value="{{ location.id }}">
                <button name="action" value="open" class="btn btn-primary">Åben lokation</button>
                 <p>(Ingen deltagere bliver sendt denne vej før der er åbent)</p>
            </form>
            </p>
        {% endif %}

         {% if location.state != 0 %}
         <p>
           <form method="post" id="form" class="form-horizontal" role="form">
                {% csrf_token %}
                <input type="hidden" name="location" value="{{ location.id }}">
                <button name="action" value="close" class="btn btn-primary">Luk lokation</button>
                 <p>(Luk den, hvis lokationen ikke skal bruges mere)</p>
            </form>
        </p>
        {% endif %}
        

        
        
        



    <h3>Deltagere i rummet:</h4>


    <table class="table table-bordered table-striped table-hover">
            <thead>
            <tr>
                <th>
                    Navn
                </th>
                <th>
                    Køn
                </th>
                <th>
                    Alder
                </th>
                
                <th>
                    Noter/Låst
                </th>
                {% if location.state == 4 %}
                    <th>
                        Skala:
                    </th>
                {%endif%}
             

            </tr>
            </thead>
            {% for p in location.profiles.all %}
                {% if p.active %}
                    <tr>
                        <td>                    
                            <a href="/profile/{{p.id}}/">{{p.name}}</a>
                        <td>
                            {{ p|gender }}
                        </td>
                        <td>
                            {{p.age}}
                        </td>
                       
                        <td>
                            {% if p.locked %}
                                Låst
                            {% else %}

                            {% endif %}
                        </td>
                        {% if location.state == 4 %}
                        <td>

                        <button value="Vis" onclick="alert('Vis ratings');" />
                        <table class="table" style="display:hidden;">
                                {% for r in p.rating_set.all %}
                                <tr>
                                    <td>
                                        {{ r.scale.name }}:
                                    </td>
                                    <td>
                                        <form method="post" id="form" class="form-horizontal" role="form">
                                            {% csrf_token %}
                                            <input type="hidden" name="scale" value="{{ r.scale.id }}">
                                            <INPUT type="submit" value="-" name="action"  class="btn btn-sm btn-warning"> 
                                            {%comment%}{{ r.value }} {%endcomment%}   
                                            <INPUT type="submit" value="+" name="action"  class="btn btn-sm btn-success"> 
                                        </form>

                                        
                                    </td>
                                </tr>
                                {% endfor %}
                            </table>

                        {%comment%}
                            <form method="post" id="form" class="form-horizontal" role="form">
                                {% csrf_token %}
                                <input type="hidden" name="profile" value="{{ p.id }}">
                                
                                <INPUT type="submit" value="-" name="action"  class="btn btn btn-danger"> 

                                <input type="hidden" name="location" value="{{ location.id }}">

                                {{ p|scaleval:location.scale }}
                                <INPUT type="submit" value="+" name="action"  class="btn btn-success"> 
                            </form>
                        {%endcomment%}
                        </td>
                    {% endif%}
                    </tr>
                {% endif %}
            {% endfor %}
        </table>

        


<a href="/" class="btn btn-warning" style="margin-top:10px;">Tilbage</a>

{% endblock %}


{% block javascript %}
   
     $( document ).ready(function() {

        setInterval(
        function()
        {
            var d = new Date('{{location.first_arrived_time}}');
            var now = new Date();
            var current = new Date(now-d);
            var format = current.getMinutes()+':'+current.getSeconds(); 
            $("#timeSinceFirstParticipant" ).text(format);
        },300);
        
      });
    //Check version periodically
    var intervalID = setInterval(
        function()
        { 
            $.get('/location/{{location.id}}/version/', 
                function(data)
                { 
                    if(data.version != {{location.version}})
                        window.location.reload(); 
                },'json');
        }, {{ AJAX_REFRESH_INTERVAL }});


{% endblock %}



