{% extends "base.html" %}
{% load show_extras %}
{% block body %}
    
    <h2>{{ location.name }}</h2>

    <h4>Kapacitet: {{ location.profiles.count }} /  {{ location.capacity }}</h4>

    <h4>Status: {{ location|statestr }}</h4>

    <h3>Deltagere i rummet:</h4>


    <table class="table table-bordered table-striped table-hover">
            <thead>
            <tr>
                <th>
                    Navn
                </th>
                <th>
                    Køn
                </th>
                <th>
                    Alder
                </th>
                <th>
                    Kode
                </th>
                <th>
                    Noter/Låst
                </th>
                {% if location.scale %} 
                    <th>
                        Skala: {{ location.scale }}
                    </th>
                {% endif%}

            </tr>
            </thead>
            {% for p in location.profiles.all %}
                {% if p.active %}
                    <tr>
                        <td>                    
                            <a href="/profile/{{p.id}}/">{{p.name}}</a>
                        <td>
                            {{ p|gender }}
                        </td>
                        <td>
                            {{p.birth|timesince}}
                        </td>
                        <td>
                            {{ p.user.username }}
                        </td>
                        <td>
                            {% if p.locked %}
                                Låst
                            {% else %}

                            {% endif %}
                        </td>
                        {% if location.scale %} 
                        <td>
                            <form method="post" id="form" class="form-horizontal" role="form">
                                {% csrf_token %}
                                <input type="hidden" name="profile" value="{{ p.id }}">
                                
                                <INPUT type="submit" value="-" name="action"  class="btn btn btn-danger"> 

                                <input type="hidden" name="location" value="{{ location.id }}">

                                {{ p|scaleval:location.scale }}
                                <INPUT type="submit" value="+" name="action"  class="btn btn-success"> 
                            </form>
                        
                        </td>
                    {% endif%}
                    </tr>
                {% endif %}
            {% endfor %}
        </table>

        {% if location.state == 0 %}
           <form method="post" id="form" class="form-horizontal" role="form">
                {% csrf_token %}
                <input type="hidden" name="location" value="{{ location.id }}">
                <button name="action" value="open" class="btn btn-primary">Åben lokation</button>
            </form>

        {% endif %}
        
        {% if location.state == 1 %}
            <form method="post" id="form" class="form-horizontal" role="form">
                {% csrf_token %}
                <input type="hidden" name="location" value="{{ location.id }}">
                <button name="action" value="start" class="btn btn-primary">Begynd scene</button>
            </form>

        {% endif %}
        
        {% if location.state == 2 %}
            <form method="post" id="form" class="form-horizontal" role="form">
                {% csrf_token %}
                <input type="hidden" name="location" value="{{ location.id }}">
                <button name="action" value="close" class="btn btn-primary">Afslut scene</button>
            </form>

        {% endif %}
        


<a href="/">Tilbage</a>

{% endblock %}


{% block javascript %}
    //Check version periodically
    var intervalID = setInterval(
        function()
        { 
            $.get('/location/{{location.id}}/version/', 
                function(data)
                { 
                    if(data.version != {{location.version}})
                        window.location.reload(); 
                },'json');
        }, {{ AJAX_REFRESH_INTERVAL }});


{% endblock %}



