{% extends "base.html" %}


{% block body %}
<h2>Login</h2>
<br/>
<p class="text-danger">
{{error}}
</p>
<p class="text-muted">

Velkommen til Ord Mellem Rum, <br/>
Du har fået tildelt et skilt med en forfatters navn på forsiden. Det er nu dit navn i forestillingen. På bagsiden er der en kode. Navnet beskytter din anonymitet, når du besvarer personlige spørgsmål her ved computeren, eller i løbet af forestillingen.
 <br> <br>
 Du skal ikke forlade computeren før den har fortalt dig hvor du skal hen. 
  <br> <br>
Login her med din personlige kode, som du finder bag på navneskiltet.</p>
    <form method="post">
        {% csrf_token %}
        Din kode: <input type="text" name="code" id="codeID" maxlength="4" style="text-transform:uppercase;"/><br>

    <br/>


        <INPUT class= "btn btn-primary btn-lg "  type="submit" value="Start" name="start"/> 

    </form>


{% endblock %}


{% block javascript %}


$(function() {
  $("#codeID").focus();
});
{% endblock %}



