{% extends "base.html" %}
{% load show_extras %}
{% block body %}
    <h4>Frie deltagere:</h4>
    <table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>
                Navn
            </th>
            <th>
                Køn
            </th>
            <th>
                Alder
            </th>
            <th>
                Kode
            </th>
            <th>
                Noter/Låst
            </th>
            <th>
                Send til lokation
            </th>
            
        </tr>
        </thead>
        {% for f in free_profiles%}
            <tr {% if f.locked %} class="danger "  {%endif%}>
                <td>                    
                     <a href="/profile/{{f.id}}/">{{f.name}} </a>
                <td>
                    {{ f|gender }}
                </td>
                <td>
                    {{f.birth|timesince}}
                </td>
                <td>
                    {{ f.user.username }}
                </td>
                <td  {% if f.locked %} class="btn-danger" {% endif %}>
                    {% if f.locked %}
                        <span class="glyphicon glyphicon-lock"> Låst</span>

                    {% endif %}
                </td>
                <td>
                    <form method="post" id="form" class="form-horizontal" role="form">
                        
                        {% csrf_token %}
                        
                        <input type="hidden" name="profile" value="{{ f.id }}" id="name">
                        <select name="location">
                        <option>Vælg en</option>
                        {% for l in locations %}
                            <option value="{{ l.id }}">{{ l.name }}</option>
                        {% endfor %}
                        </select>
                        <input type="submit" value="Send!">

                        
                    </form>
                </td>
                
            </tr>
        {% endfor %}
    </table>


    <br>


    <h3>Lokationer:</h3>
    {% for l in locations%}
    <h4><a href="/location/{{l.id}}/">{{ l.name }} - {{ l|statestr}}</a></h4>


       <table class="table table-bordered table-striped table-hover">
       <thead>
            <tr>
                <th>
                    Navn
                </th>
                <th>
                    Køn
                </th>
                <th>
                    Alder
                </th>
                <th>
                    Kode
                </th>
                <th>
                    Noter/Låst
                </th>
            </tr>
            </thead>
            {% for p in l.aciveProfiles.all %}
                <tr {% if p.locked %} class="danger" {%endif%}>
                    <td>                    
                        <a href="/profile/{{p.id}}/">{{p.name}}</a>
                    <td>
                        {{ p|gender }}
                    </td>
                    <td>
                        {{p.birth|timesince}}
                    </td>
                    <td>
                        {{ p.user.username }}
                    </td>
                  

                    <td  {% if p.locked %} class="btn-danger" {% endif %}>
                    {% if p.locked %}
                        <span class="glyphicon glyphicon-lock"> Låst</span>

                    {% endif %}
                </td>

                   
                </tr>
            {% endfor %}
        </table>

        <br>

    {% endfor %}


{% endblock %}

{% block adminarea %}

{% if user.is_superuser %}
<a href="/admin/" class="btn btn-danger btn-sml"> Admin Area </a> (do not use while live)  
{% endif %}
{% endblock %}

{% block javascript %}
    //Check version periodically
    var intervalID = setInterval(
        function()
        { 
            $.get('/overview/version/', 
                function(data)
                { 
                    if(data.version != {{version}})
                        window.location.reload(); 
                },'json');
        }, {{ AJAX_REFRESH_INTERVAL }});

{% endblock %}



