{% extends "base.html" %}

{% block body %}
    name
    directions
    capacity
    safe
    state
    scale
    parameters

    <h1>Frie profiler</h1>
    <table border="1">
        <tr>
            <td>
                Navn
            </td>
            <td>
                Køn
            </td>
            <td>
                Alder
            </td>
            <td>
                Noter/Låst
            </td>
        </tr>
        {% for f in free_profiles%}
            <tr>
                <td>                    
                    {{f.name}}
                <td>
                    {{ f.gender|gender }}
                </td>
                <td>
                    {{f.birth|date:"Y"}}
                </td>
                <td>
                    
                </td>
            </tr>
        {% endfor %}

    </table>


    <h1>Loactions</h1>
    

    <table border="1">
        <tr>
            <td>
                Navn
            </td>
            <td>
                Kapacitet
            </td>
            <td>
                Tilstand
            </td>
            <td>
                Profiler
            </td>
        </tr>
        {%for l in locations %}
            
        {% endfor %}
    </table>
    
    <h1>Frie profiler</h1>
    


{% endblock %}


{% block javascript %}

{% endblock %}



