{% extends "base.html" %}
{% load show_extras %}

{% block body %}
    
    <h4>Profil</h4>
    <table class="table table-bordered table-striped table-hover">

        <tr>
            <td>
                Navn:
            </td>
            <td>
                {{ profile.name }}
                ({{profile.user.username}})
            </td>
        </tr>
        <tr>
            <td>
                Alder:
            </td>
            <td>
                {{ profile.age }}
            </td>
        </tr>
        <tr>
            <td>
                Køn:
            </td>
            <td>
                {{ profile|gender }}
            </td>
        </tr>
        <tr>
            <td>
                Låst:
            </td>
            <td>
                 <form method="post">
                    {% csrf_token %}
                    {% if profile.locked %}
                        <span class="danger">Profilen er låst! </span> <button name="action" value="toggle_lock" class="btn btn-success">Frigiv profilen</button>

                    {% else %}
                        <span>Profilen er fri. </span> <button name="action" value="toggle_lock" class="btn btn-danger">Lås profilen</button>
                    {% endif %}
                     <p class="text-info">Hvis en profil er låst vil han kun blive tilbudt udvalgte rum.</p>
                </form>
            </td>
        </tr>
    </table>

    <h4>Send til lokation:</h4>
    <form method="post" id="form" class="form-horizontal" role="form">
        
        {% csrf_token %}
        
        <input type="hidden" name="profile" value="{{ profile.id }}" id="name">
        <select name="location">
        <option>Vælg en</option>
        {% for l in profile.sendToOptions %}
            <option value="{{ l.id }}">{{ l.name }}</option>
        {% endfor %}

        </select>
        <input type="submit" class="btn btn-sm btn-warning" value="Send!">

        
    </form>
              
<h4>Noter:</h4>
<table class=\"table table-bordered table-striped table-hover\">
        <tr>
            <td>
                Dato
            </td>
            <td>
                Tekst
            </td>
            <td>
                Read
            </td>
        </tr>
        {% for n in profile.notes.all %}
        <tr>
            <td>
                {{ n.date }}
            </td>
            <td>
                {{ n.text }}
            </td>
            <td>
                {% if n.isRead %}
                    Ja
                {% else %}
                    Nej
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
    <form method="post" role="form" class="form-inline">
   
    <div class="row">
     <div class="form-group col-xs-10">
         {% csrf_token %}
        <input type="hidden" name="profile" value="{{ profile.id }}" id="name">
        <input type="textarea" name="note" value="" class="form-control">
        </div>
         <div class="form-group col-xs-2">
        <button class="btn">Tilføj note</button>
        </div>
        </div>
    </form>
    <br/>
   

    <h4>Skalaer:</h4>
    <table class="table table-bordered table-striped table-hover">
        {% for r in profile.rating_set.all %}
        <tr>
            <td>
                {{ r.scale.name }}
            </td>
            <td>
                <form method="post" id="form" class="form-horizontal" role="form">
                    {% csrf_token %}
                    <input type="hidden" name="profile" value="{{ profile.id }}">
                    <input type="hidden" name="scale" value="{{ r.scale.id }}">
                    <INPUT type="submit" value="-" name="action"  class="btn btn-warning"> 
                    {{ r.value }}    
                    <INPUT type="submit" value="+" name="action"  class="btn btn-success"> 
                </form>

                
            </td>
        </tr>
        {% endfor %}
    </table>

    {%comment%}
    <h4>Nuværende rum:</h4>
    {% if profile.location %}
        {{ profile.location.name }}
    {% else %}
        Ingen
    {% endif %}
    <br>
    {%endcomment%}


    <h4>Næste mulige rum:</h4>
    <table class="table table-bordered table-striped table-hover">
        <tr>
            <td>
                Lokation
            </td>
            
        </tr>

        {% for l in next %}
        <tr>
            <td>
                <a href="/location/{{ l.id }}/">{{ l.name }}</a>
            </td>
           
        </tr>
        {% endfor %}
    </table>
    

    <h4>Fjern rum så deltager aldrig ender der:</h4>
    <form method="post" id="form" class="form-horizontal" role="form">
                        
                        {% csrf_token %}
                        
                        <input type="hidden" name="profile" value="{{ f.id }}" id="name">
                        <div class="form-group col-xs-10">
                        <select name="ignoreLocation" class="form-control col-xs-2" >
                        <option>Vælg en</option>
                        {% for l in locations %}
                            <option value="{{ l.id }}">{{ l.name }}</option>
                        {% endfor %}
                        </select>
                        </div>
                         <div class="form-group col-xs-2">
                        <input type="submit" class="btn btn-warning" value="Send!">
                        </div>

                        
                    </form>

    {%comment%}<h4>Tidligere besøgte rum:</h4>
    <table class="table table-bordered table-striped table-hover">
        <tr>
            <td>
                Lokation
            </td>
        </tr>

        {% for l in prev %}
        <tr>
            <td>
                <a href="/location/{{ l.id }}/">{{ l.name }}</a>
            </td>
        </tr>
        {% endfor %}
    </table>{%endcomment%}
    




   <a href="/" class="btn btn-warning" style="margin-top:10px;">Tilbage</a>

{% endblock %}


{% block javascript %}
    //Check version periodically
    var intervalID = setInterval(
        function()
        { 
            $.get('/profile/{{profile.id}}/version/', 
                function(data)
                { 
                    if(data.version != {{profile.version}})
                        window.location.reload(); 
                },'json');
        }, {{ AJAX_REFRESH_INTERVAL }});
{% endblock %}


{% block colorJS %}
{%endblock%}
