{% extends "base.html" %}
{% load show_extras %}

{% block body %}
    
    <h4>Profil</h4>
    <table class="table table-bordered table-striped table-hover">

        <tr>
            <td>
                Navn:
            </td>
            <td>
                {{ profile.name }}
            </td>
        </tr>
        <tr>
            <td>
                Alder:
            </td>
            <td>
                {{ profile.birth|timesince }}
            </td>
        </tr>
        <tr>
            <td>
                Køn:
            </td>
            <td>
                {{ profile|gender }}
            </td>
        </tr>
        <tr>
            <td>
                Låst:
            </td>
            <td>
                 <form method="post">
                    {% csrf_token %}
                    {% if profile.locked %}
                        <h3>Profilen er låst!!! </h3> <button name="action" value="toggle_lock">Frigiv profilen</button>
                    {% else %}
                        Profilen er fri. <button name="action" value="toggle_lock">Lås profilen</button>
                    {% endif %}
                </form>
            </td>
        </tr>
    </table>

    

    <h4>Noter:</h4>

    {% if profile.notes.count > 0 %}

    <table class="table table-bordered table-striped table-hover">
        <tr>
            <td>
                Dato
            </td>
            <td>
                Tekst
            </td>
        </tr>
        {% for n in profile.notes.all %}
        <tr>
            <td>
                {{ n.date }}
            </td>
            <td>
                {{ n.text }}
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}

    <form method="post">
         {% csrf_token %}
        <input type="hidden" name="profile" value="{{ profile.id }}" id="name">
        <input type="textarea" name="note" value="">
        <button>Tilføj note</button>
    </form>

   
    <h4>Skalaer:</h4>
    <table class="table table-bordered table-striped table-hover">
        {% for r in profile.rating_set.all %}
        <tr>
            <td>
                {{ r.scale.name }}
            </td>
            <td>
                <form method="post" id="form" class="form-horizontal" role="form">
                    {% csrf_token %}
                    <input type="hidden" name="profile" value="{{ profile.id }}">
                    <input type="hidden" name="scale" value="{{ r.scale.id }}">
                    <INPUT type="submit" value="-" name="action"  class="btn btn-primary"> 
                    {{ r.value }}    
                    <INPUT type="submit" value="+" name="action"  class="btn btn-primary"> 
                </form>

                
            </td>
        </tr>
        {% endfor %}
    </table>


    <h4>Nuværende rum:</h4>
    {% if profile.location %}
        {{ profile.location.name }}
    {% else %}
        Ingen
    {% endif %}
    <br>


    <h4>Næste mulige rum:</h4>
    <table class="table table-bordered table-striped table-hover">
        <tr>
            <td>
                Lokation
            </td>
            <td>
                Score
            </td>
        </tr>

        {% for l in next %}
        <tr>
            <td>
                <a href="/location/{{ l.id }}/">{{ l.name }}</a>
            </td>
            <td>
                {{ l|getscore:profile }}
            </td>
        </tr>
        {% endfor %}
    </table>
    
    <h4>idligere besøgte rum:</h4>
    <table class="table table-bordered table-striped table-hover">
        <tr>
            <td>
                Lokation
            </td>
        </tr>

        {% for l in prev %}
        <tr>
            <td>
                <a href="/location/{{ l.id }}/">{{ l.name }}</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    




   <a href="/" class="btn btn-warning" style="margin-top:10px;">Tilbage</a>

{% endblock %}


{% block javascript %}
    //Check version periodically
    var intervalID = setInterval(
        function()
        { 
            $.get('/profile/{{profile.id}}/version/', 
                function(data)
                { 
                    if(data.version != {{profile.version}})
                        window.location.reload(); 
                },'json');
        }, {{ AJAX_REFRESH_INTERVAL }});
{% endblock %}



