{% extends "base.html" %}

{% block body %}
<em>Du skal svare på spørgsmålene før du kan g videre. </em>
<p>
{{ question.text }}
</p>
<br/>
<form method="post">

    {% csrf_token %}
    <input type="hidden" name="question" value="{{ question.id }}">
    
    
    <div class="center-block">
    <center>
    {% for a in question.possible_answers.all %}
   
         <INPUT class= "btn btn-primary btn-lg " style="margin-left:20px; margin-bottom:20px;" type="submit" value="{{ a.text }}" name="answer"/> 

    {% endfor %}
    </center>
    </div>
    
</form>
    
{% endblock %}


{% block javascript %}
    idleTime = 0;
    $(document).ready(function () 
    {
        //Increment the idle time counter every minute.
        var idleInterval = setInterval(timerIncrement, 1000); 

        //Zero the idle timer on mouse movement.
        $(this).mousemove(function (e) {
            idleTime = 0;
        });
        $(this).keypress(function (e) {
            idleTime = 0;
        });
    });
    function timerIncrement() 
    {
        idleTime = idleTime + 1;
        if (idleTime > {{ USER_TIMEOUT_SECONDS }}) 
        {
            window.location = "/logout/";
        }
    }
{% endblock %}



