{% extends "base.html" %}

{% block body %}
<p>
{{ question.text }}
</p>
<br/>
<form method="post">

    {% csrf_token %}
    <input type="hidden" name="question" value="{{ question.id }}">
    
    
    <div class="center-block">
    <center>
    {% for a in question.possible_answers.all %}
   
         <INPUT class= "btn btn-primary btn-lg " style="margin-left:20px;" type="submit" value="{{ a.text }}" name="answer"/> 
        
         
  
    {% endfor %}
    </center>
    </div>
    
</form>
    
{% endblock %}


{% block javascript %}

{% endblock %}



